<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h4>Manage Drivers</h4>
  <form
    class="input-group w-25 me-3"
    [formGroup]="filterForm"
    (ngSubmit)="loadList()"
  >
    <input
      type="search"
      class="form-control"
      formControlName="searchTerm"
      placeholder="Query term"
    />
    <span
      class="input-group-text"
      style="cursor: pointer"
      (click)="filterForm.reset(); loadList()"
    >
      <i class="bi bi-arrow-counterclockwise"></i>
      Reset
    </span>
    <button class="btn btn-success btn-sm" type="submit">
      <i class="bi bi-search"></i>
      Search
    </button>
  </form>
</div>

<div class="text-center" *ngIf="preLoading">
  <div
    class="spinner-border"
    style="width: 3rem; height: 3rem; margin: 0 auto"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<ng-container *ngIf="!preLoading">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">App Permissions</th>
        <th scope="col">Fuel Stations</th>
        <th scope="col">Registered</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <th scope="row">
          {{ item.fullName }}
        </th>
        <td>
          {{ item.email }}
        </td>
        <td>
          <ng-container *ngIf="item.permissionList.length">
            <span *ngIf="hasPermission(item, permissionList.CAN_VIEW_INVOICES)"
              >Invoices, </span
            >,
            <span
              *ngIf="hasPermission(item, permissionList.CAN_VIEW_TRANSACTIONS)"
              >Transactions,
            </span>
            <span
              *ngIf="hasPermission(item, permissionList.SHOW_DISCOUNT_PRICES)"
              >Discount prices,
            </span>
            <span
              *ngIf="hasPermission(item, permissionList.SHOW_DISCOUNTED_PRICES)"
              >Discounted prices</span
            >
          </ng-container>
          <strong class="text-danger" *ngIf="!item.permissionList.length"
            >(None)</strong
          >
        </td>
        <td>
          <strong class="text-success" *ngIf="!item.includeStations.length"
            >All</strong
          >
          <span *ngIf="item.includeStations.length">
            <ng-container *ngFor="let station of item.includeStations;index as i"
              >
              <span>{{ getCustomerName(station) }}, </span>
            </ng-container>
          </span>
        </td>
        <td>
          {{ item.registerTime | appDateTime }}
        </td>
        <td>
          <div ngbDropdown class="d-flex justify-content-end" container="body">
            <button
              type="button"
              class="btn btn-outline-primary bi-three-dots"
              ngbDropdownToggle
            ></button>
            <div ngbDropdownMenu>
              <button
                ngbDropdownItem
                (click)="onEditSettings(item, applyContent)"
              >
                App Settings
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>

<ng-template #applyContent let-modal>
  <form [formGroup]="settingsForm" (ngSubmit)="onApplySettings(modal)">
    <div class="modal-header">
      <h4 class="modal-title">App Settings</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('')"
      ></button>
    </div>
    <div class="modal-body">
      <fieldset>
        <legend>Accounting</legend>
        <div class="mb-3">
          <label class="form-label">Account Cards</label>
          <ng-select
            [items]="driverCards"
            bindLabel="name"
            bindValue="id"
            formControlName="cardNumber"
            placeholder="Select Account card"
            (change)="onChangeCard($event)"
          >
          </ng-select>
        </div>
      </fieldset>

      <fieldset class="mb-3">
        <legend>Dashboard</legend>
        <div class="form-check">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="viewInvoices"
            />
            Can view invoices?
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="viewTransactions"
            />
            Can view transactions?
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="shownDiscountPrices"
            />
            Can watch discount prices?
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="shownDiscountedPrices"
            />
            Can watch discounted prices?
          </label>
        </div>
      </fieldset>

      <fieldset class="mb-3">
        <legend>Stations</legend>
        <ng-select
          [items]="customers"
          [multiple]="true"
          bindLabel="name"
          bindValue="id"
          placeholder="Select chains"
          formControlName="stations"
        >
          <ng-template ng-label-tmp let-item="item" let-clear="clear">
            <span class="ng-value-label"
              ><img [src]="item.iconUrl" width="20px" height="20px" />
              {{ item.name }}</span
            >
            <span
              class="ng-value-icon right"
              (click)="clear(item)"
              aria-hidden="true"
              >×</span
            >
          </ng-template>

          <ng-template ng-option-tmp let-item="item">
            <img [src]="item.iconUrl" width="20px" height="20px" />
            {{ item.name }}
          </ng-template>
        </ng-select>
      </fieldset>
    </div>
    <div class="modal-footer">
      <ng-container *ngIf="!applyingSettings">
        <button
          type="submit"
          class="btn btn-outline-success bi bi-save2"
          [disabled]="settingsForm.invalid"
        >
          Apply
        </button>
      </ng-container>
      <span
        class="spinner-border"
        style="width: 2rem; height: 2rem; margin: 0 auto"
        role="status"
        *ngIf="applyingSettings"
        aria-hidden="true"
      ></span>
    </div>
  </form>
</ng-template>
