<table class="table">
  <thead class="table-dark">
    <tr>
      <th scope="col">Time</th>
      <th scope="col">Apply</th>
      <th scope="col">Retail</th>
      <th scope="col">Discounted</th>
      <th scope="col">Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of discounts">
      <th scope="row">
        {{ item.time | appDateTime }}
      </th>
      <td>
        {{ item.apply| currency }}
      </td>
      <td>
        {{ item.retail| currency }}
      </td>
      <td>
        {{ item.best| currency }}
      </td>
      <td>
        {{ item.discount| currency }}
      </td>
    </tr>
  </tbody>
</table>
