/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }

  .navbar-search {
    display: block;
  }
}

.sidebar {
  min-height: calc(100vh - 60px);
  background: #43176a;
}

.sidebar .nav-link {
  color: white;
}

.sidebar .nav-link.active {
  color: #ffcb0c;
}

.sidebar .nav-link:hover {
  color: #ffcb0c;
}

.sidebar-heading {
  color: white;
}

/*
 * Navbar
 */

.navbar {
  background-color: #10141e;
  height: 60px;  
}

.unauth {
  
}

.navbar .navbar-brand {
  color: white;
  font-size: 2rem !important;
}

.main-content {
  min-height: calc(100vh - 6rem);
}

.btn-nick {
  color: #ffcb0c;
}

.btn-primary {
  background: #ffcb0b;
  color: black;
  border:none;
}
 